*{
    box-sizing: border-box;
}
body{
    width:1437.63px;
    height: 803.76px;
    font-family: 'Lexend Deca', sans-serif;
}
.container{
    display: flex;
    justify-content:center;
    align-items:center;
    height: 100vh;
}
.sedans{
    width: 304.303333333px;
    height: 502.23px;
    background-color: hsl(31, 77%, 52%);
    color: hsl(0, 0%, 95%);
}
.suvs{
    width: 304.303333333px;
    height: 502.23px;
    background-color:hsl(184, 100%, 22%);
    color:hsl(0, 0%, 95%)
}
.luxury{
    width: 304.303333333px;
    height: 502.23px;
    background-color:hsl(179, 100%, 13%);
    color:hsl(0, 0%, 95%);
}
.sedans h1{
    position: relative;
    left:49.77px;
    top:40px;
    font-weight: 1000;
}
.sedans p{
    font-size: 13px;
    padding-left: 40.33px;
    padding-right: 66.42px;
    padding-top: 110px;
    padding-bottom:178.15px
}
.suvs h1{
    position: relative;
    left:49.77px;
    top:40px;
    font-weight: 1000;
}
.suvs p{
    font-size: 13px;
    padding-left: 40.33px;
    padding-right: 66.42px;
    padding-top: 110px;
    padding-bottom:178.15px;
}
.luxury h1{
    position: relative;
    left:49.77px;
    top:40px;
    font-weight: 1000;
}
.luxury p{
    font-size: 13px;
    padding-left: 40.33px;
    padding-right: 66.42px;
    padding-top: 110px;
    padding-bottom:178.15px
}
.learn-more{
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    margin-top: -10em;
    margin-left: 2em;
    width:140.53px;
    height: 45.80px;
    border:1px white solid;
    border-radius: 30px;
    background-color: white;
}
a{
    text-decoration: none;
}
.sedans a{
    color:hsl(31, 77%, 52%);
}
.suvs a{
    color:hsl(184, 100%, 22%);
}
.sedans img {
    padding-left: 30px;
    padding-top: 43px;
}
.suvs img{
    padding-left: 30px;
    padding-top: 43px;
}
.luxury img{
    padding-left: 30px;
    padding-top: 43px;
}
@media screen and (max-width: 375px){
    @media screen and (max-width: 375px){
    body{
        width: 375px;
    }
    .container{
        display:block;
    }
    .learn-more{
        margin-top: 30px;
    }
    .learn-more1{
        position: relative;
        bottom: 149px;
    }
    .learn-more2{
        position: relative;
        bottom: 150px;
    }
    .learn-more3{
        position: relative;
        bottom: 147.11px;
    }
}
}
